@model IEnumerable<CricketMatch.Models.Player>

@{
    ViewData["Title"] = "Player";
}

<h1>Players</h1>

<p>
    <a asp-action="Create">Enrol Player</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
