@model IEnumerable<CricketMatch.Models.Ranking>

@{
    ViewData["Title"] = "Ranking";
}

<h1>Ranking</h1>

<p>
    <a asp-action="Create">Add Ranks</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.PlayerFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Eventname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
